@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

:root {
  --primary-color: #022534;
  --accent-color: #96c7d5;
  --text-color: #e4f5ff;
  --hover-color: #094f6e;
  --shadow-color: #2d7a9c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand {
  margin-top: -7px;
}

.brand span {
  color: var(--accent-color);
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menu a:hover {
  background-color: var(--accent-color);
  color: var(--hover-color);
  border-radius: 8px;
}

.menu .active {
  color: var(--accent-color);
  
}

.toggle-menu,
.info-content__Subtitle,
.info-content .social-networks{
  display: none;
 
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.main img {
  width: 350px;
  border: 5px solid var(--accent-color);
  height: 520px;
  min-height: 300px;
}

h1 {
  font-size: clamp(4vw, 1.5em, 3em);
}

span {
  color: var(--accent-color);
}

.download-cv,
.project-details {
  padding: 10px 20px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px var(--shadow-color);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.download-cv:hover {
  background-color: var(--hover-color);
  box-shadow: none;
  color: var(--text-color) ;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  max-width: 100%;
  grid-column: 1/5;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.about:hover img {
  opacity: 1;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: var(--primary-color);
}

.divider {
  height: 4px;
  width: 60px;
  background-color: var(--accent-color);
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.fa-whatsapp,
.fa-phone,
.fa-envelope,
.fa-github,
.fa-linkedin-in {
  margin-right: 10px; 
  width: 50px;
  margin-top: .5em;
  font-size: 1.5em;
}

.portfolio-headings {
  width: 100vw;
  padding: 5em;
}

.portfolio-headings h2 {
  font-size: 2.5em;
}

.portfolio .container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  color: var(--text-color);
  height: 350px;
  background-color: var(--primary-color);
  margin: 1em;
  border-radius: 1em;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
  border-radius: 0.5em;
}

.card__title {
  padding: 20px;
  text-align: center;
}

.card__projects-links {
  display: flex;
  justify-content: space-evenly;
  
}

.card__projects-links a {
  color: var(--text-color);
  text-decoration: none;
}

.card__projects-links i {
  font-size: 1.5em;
  border: none;
}

.card .project-details {
  margin: 0 auto;
  margin: 1em;
  width: 70%;
  text-align: center;
  
}

.card .project-details a {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  
}

.project-details-content {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}


.contact-headings h2 {
  font-size: 3em;
}

.container-contact {
  padding: 3em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

.container-contact img {
  height: 700px;
  bottom: 0px;
  border-radius: 1em;
  opacity: 50%;
  transition: opacity 0.3s ease-in-out;
}

.container-contact:hover img {
  opacity: 100%;
}

.form-grup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-top: 2em;
}

.form-grup input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.form-grup textarea {
  height: 150px;
  background: none;
  color: var(--text-color);
  padding: 1.5em;
  border: 1px solid var(--text-color);
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container-contact:hover .form-grup input,
.container-contact:hover .form-grup textarea {
  opacity: 1;
  transform: translateX(0);
}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: var(--accent-color);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px var(--shadow-color);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-submit:hover {
  background-color: var(--hover-color);
  box-shadow: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: var(--accent-color);
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5,

.social-networks i {
  font-size: 1.5em;
}

.contact{
  display: flex;
  flex-direction: column;
  font-size: 1.5em; 
  
}



.contact-info {
  display: flex;
  align-items: center; 
  
}

.social-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
  font-size: 2em;
}

.social-networks a {
  color: var(--text-color);
}

@media screen and (max-width: 800px) {
  .menu{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2b3058;
    z-index: 1;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }

  .show-menu {
    transform: translateX(0%);
  }

  .menu li {
    margin: 2em;
  }

  .toggle-menu {
    display: block;
  }

  .fa-bars{
    font-size: 1.5em;
    margin-top: -.2em;
  }

  .toggle-menu .fa-close {
    font-size: 1.7em;
    display: none;
  }
  .main,
  .about{
    display: flex;
    flex-direction: column-reverse;
    
  }
  
  .main img{
    width: min(70%,350px);
    height: auto;
    margin-bottom: 1em;
  }
  .info-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }

  .info-content .social-networks,
  .info-content__Subtitle{
    display: block;
    
  }

  .info-content__Subtitle{
    margin-bottom: .5em;
    
  }
  .info-content .social-networks{
    display: flex;
    justify-content: space-evenly;
  }

  .download-cv,
  .info-content__p,
  .contact-selection__img{
    display: none;
  }

  .form-grup {
    width: 80vw;

  }

}